<% content_for :title, "New user extension" %>

<h1>New user extension</h1>

<%= render "form", user_extension: @user_extension %>

<br>

<div>
  <%= link_to "Back to user extensions", user_extensions_path %>
</div>
